body{
    padding: 0;
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    position: relative;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
    font-family: cursive;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
    font-size: 10em;
    overflow: hidden;
    }

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #fff;
    background: linear-gradient(to right, #f00,#ff0,#0ff,#0f0,#ffc800);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: type 6s steps(9) infinite;
}

@keyframes type{
    0%{
        width: 0;
    }

    70%{
        width: 100%;
    }

    90%{
        width: 100%;
    }

    100%{
        width: 0%;
    }
}

