.accordion-menu li{
    margin-bottom:20px;
    list-style: none;
}

.accordion-menu input[type=checkbox]{
    position: absolute;
    opacity: 1;
}

.accordion-menu label{
    position: relative;
    display: block;
    font-size: 40px;
    background: #f3f3f3;
    color: #798f9a;
    border: 1px solid #798f9a;
    padding: 20px;
}

.accordion-menu section{
    opacity: 0;
    height: 0px;
    border: 1px solid #798f9a;
    color: #798f9a;
    transition: 0.2s;
}

.accordion-menu input[type=checkbox]:checked+label+section{
    opacity: 1;
    height: auto;
    padding: 10px 20px;
}